[Unit]
Description=Refresh the provisioning inventory cache

[Service]
Type=oneshot
User=ops
Delegate=yes
ExecStart=/opt/atlas/bin/atlas job instance run provisioning-inventory-refresh
