[Unit]
Description=Run atlas-pull.service periodically

[Timer]
OnCalendar=hourly
Persistent=true
Unit=atlas-pull.service

[Install]
WantedBy=timers.target
